<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark" style="font-family: Roboto,Ubuntu;">
  <div class="container-fluid mx-2">
    <a class="navbar-brand fw-bold" href="/">DevTalks</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="../"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>

      <!-- Amazon Style Search Bar -->
      <div class="d-flex justify-content-end w-100 mx-3 my-1">
        <div class="col-12">
          <!-- Increased width -->
          <form action="/articles/search" method="GET" class="d-flex">
            <input
              type="text"
              name="q"
              placeholder="Search DevTalks"
              style="margin-top:4px;
                padding: 7px;
                border: 2px solid #ccc;
                border-right: none;
                font-size: 16px;
                background-color: whitesmoke;
                color:black;
                outline: none;
                flex-grow: 1; /* Expands as space is freed */
                border-radius: 50px 0 0 50px;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
              "
            />
            <button
              type="submit"
              style="margin-top: 4px;
                padding: 7px 20px;
                border: none;
                background-color: #303434;
                color: white;
                font-size: 16px;
                cursor: pointer;
                border-radius: 0 50px 50px 0;
              "
            >
              Search
            </button>
          </form>
        </div>
      </div>
     <div class=" mt-md-2 text-left">
          <a href="/account/user" 
            style="
              padding: 9px 15px;
              border: none;
              background-color: #303434;
              color: white;
              font-size: 16px;
              cursor: pointer;
              border-radius: 20px;
              text-decoration: none;
              display: inline-block;
              margin-bottom: 2px;
            ">
            Account
          </a>
        </div>
    </div>
  </div>
</nav>
